<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#">资讯管理</a> <a href="#" class="current">龙虎榜管理</a> </div>
	<h1>${clique.name}</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
		<div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-list"></i> </span>
            <h5>简介</h5>
          </div>
          <div class="widget-content">
			$!{clique.profile}
		  </div>
        </div>
          <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-play-circle"></i> </span>
              <h5>历史操作股票</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>股票</th>
    				  <th>时间</th>
                    </tr>
                  </thead>
                  <tbody>
    				#foreach($lh in ${lhPage.getRecords()})
                    <tr>
                      <td>${velocityCount}</td>
                      <td>
    					<a href="#springUrl('/longhu/detail')?symbol=${lh.symbol}&tradeDate=${lh.tradeDate}" target="_blank">
    						${lh.stockName}
    					</a>
    				  </td>
                      <td>${lh.tradeDate}</td>
                    </tr>
    				#end
                  </tbody>
                </table>
              </div>
            </div>
    		<div id="page_nav"></div>
          </div>
		  <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>$!{clique.name}营业部</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>营业部名称</th>
				  <th>类型</th>
                </tr>
              </thead>
              <tbody>
				#foreach($cliqueDept in ${cdPage.getRecords()})
                <tr>
                  <td>${velocityCount}</td>
                  <td>
					<a href="#springUrl('/longhu/dept')?deptCode=$!{cliqueDept.secDeptCode}" target="_blank">
						${cliqueDept.deptName}
					</a>
				  </td>
                  <td>${cliqueDept.deptType}</td>
                </tr>
				#end
              </tbody>
            </table>
          </div>
        </div>
		<div id="page_nav"></div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
.clique-stock-pg ul {
    margin: 0px;
    padding: 0px;
}
.clique-stock-pg ul li {
    margin: 5px;
    padding: 5px;
    list-style: none;
    display: inline-block;
    border: 1px solid #dadada;
    min-width: 100px;
    cursor: pointer;
}
</style>
<script src="#resources('js/pagination.js')"></script>
<script type="text/javascript">
	function gotoPage(pageNo){
		window.location.href="#springUrl('/clique/detail')?cliqueId=$!{clique.id}&curPage="+pageNo;
	}
	$('#page_nav').html(new Pagination($!{lhPage.curPage},$!{lhPage.totalPages}, gotoPage).getHtml());
</script>
