<link rel="stylesheet" href="#resources('css/datepicker.css')" />
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#">股票</a> <a href="#" class="current">个人持股</a> </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>个人持股</h5>
          </div>
		  <div class="widget-title">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#tab1">帮派持股</a></li>
              <li class=""><a data-toggle="tab" href="#tab2">牛散持股</a></li>
            </ul>
          </div>
          <div class="widget-content">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
				  <th style="width:5%;">序号</th>
                  <th>姓名</th>
                  <th>股票</th>
				  <th>持股量</th>
				  <th>较上期变化</th>
				  <th>持股时间</th>
				  <th>更新时间</th>
				  <th>帮派</th>
				  <th>操作</th>
                </tr>
              </thead>
              <tbody>
				#foreach($ssh in ${page.records})
                <tr holderId="$!{ssh.shareholder}">
				  <td>$!{velocityCount}</td>
                  <td><a class="lh_detail" onclick="javascript:;">$!{ssh.holderName}</a></td>
				  <td>$!{companyTool.getStockName($!{ssh.symbol})}</td>
				  <td>$!{ssh.holdCount}</td>
				  <td>
					#if($!{ssh.chgCount})
						#if($!{ssh.chgCount}==0)
							不变
						#else
							#if($!{ssh.chgCount} > 0)
								<i class="icon-arrow-up"></i>
								<font style="color:red">
									$!{ssh.chgCount}
                                </font>
							#else
								<i class="icon-arrow-down"></i>
								<font style="color:green">
									$!{ssh.chgCount}
                                </font>
							#end
						#end
					#else
						新进
					#end
				  </td>
				  <td>$!{ssh.endDate}</td>
				  <td>${date.format("yyyy-MM-dd",$!{ssh.gmtCreate})}</td>
				  <td>$!{longHuTool.getClique($!{ssh.cliqueId})}</td>
                  <td>
					<a class="lh_detail" onclick="javascript:;">历史持股</a>
				  </td>
                </tr>
				#end
              </tbody>
             </table>
			 <div id="page_nav"></div>
			</div>
          </div>
        </div>
    </div>
  </div>
</div>
<script src="#resources('js/pagination.js')"></script>
<script type="text/javascript">
	function gotoPage(pageNo){
		$("#curPage").val(pageNo);
		$("#searchForm").submit();
	}
	$('#page_nav').html(new Pagination($!{page.curPage},$!{page.totalPages}, gotoPage).getHtml());
</script>
<script type="text/javascript">
	$(function(){
		$(".lh_detail").click(function(){
			var holderId = $(this).parent().parent().attr("holderId");
			window.location.href="#springUrl('/shareholder/detail')?holderId="+holderId;
		});
	});
</script>
