<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> <a href="javascript:;"><i class="icon-home"></i>首页</a></div>
  </div>
<!--End-breadcrumbs-->
	
<!--Action boxes-->
  <div class="container-fluid">
    <div class="row-fluid">   
	  <div class="span8">
        <div class="widget-box">
			<div class="widget-content nopadding">
    			<input type="button" id="start-task" value="开始执行"/>
            </div>
        </div>
      </div>
    </div><!-- end row-fluid -->
  </div><!-- end container-fluid-->
</div><!-- end content-->
$!{tokenTool.enableAjaxToken()}
<script type="text/javascript">
$(function(){
	$("#start-task").click(function(){
		jQuery.post("#springUrl('/console/')",{},function(result){
			if(result.success){
				alert("执行成功！！！");
			} else {
				alert("执行失败！！！");
			}	
		});
	});	
})
</script>