<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> <a href="javascript:;"><i class="icon-home"></i>首页</a></div>
  </div>
<!--End-breadcrumbs-->
	
<!--Action boxes-->
  <div class="container-fluid">
    <div class="quick-actions_homepage" style="display:none;">
      <ul class="quick-actions">
		<li class="bg_lg span1"> 
			<a href="#springUrl('/longhu/')"> <i class="icon-signal"></i> 龙虎榜</a> 
		</li>
        <li class="bg_ly"> 
			<a href="#springUrl('/largeVol/')"> 
				<i class="icon-inbox"></i><span class="label label-success"></span> 大单成交 
			</a> 
		</li>
        <li class="bg_lo"> 
			<a href="#springUrl('/fiverange/')"> 
				<i class="icon-th"></i>托压大单
			</a> 
		</li>
		<li class="bg_ly"> <a href="#"> <i class=" icon-globe"></i> 资讯管理 </a> </li>

		<li class="bg_lo"> 
			<a href="#springUrl('/clique/')"> 
				<i class="icon-group"></i><span class="label label-success">4</span>  帮派管理 
			</a>
		</li>
      </ul>
    </div>
<!--End-Action boxes--> 
    <hr/>
	<div class="row-fluid">
		<div class="span6">
			<div class="widget-box">
				<div class="widget-title"> <span class="icon"> <i class="icon-list"></i> </span>
					<h5>市场热度</h5>
				</div>
				<div class="widget-content"> 
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
        				  <th>日期</th>
        				  <th>买入营业部</th>
                          <th>卖出营业部</th>
                          <th>买入金额</th>
        				  <th>卖出金额</th>
						  <th>净额</th>
						  <th>买入票</th>
						  <th>卖出票</th>
                        </tr>
                      </thead>
                      <tbody>
        				#foreach($ado in ${adoList})
                        <tr>
        				  <td>$!{ado.tradeDate}</td>
        				  <td>$!{ado.buyDept}</td>
        				  <td>$!{ado.sellDept}</td>
        				  <td>$!{ado.totalBuyAmount}</td>
						  <td>$!{ado.totalSellAmount}</td>
        				  <td>$!{ado.net}</td>
						  <td>$!{ado.totalBuyStock}</td>
						  <td>$!{ado.totalSellStock}</td>
                        </tr>
        				#end
                      </tbody>
                     </table>
				</div>
			</div>
      </div>
		<div class="span6">
			<div class="widget-box">
				<div class="widget-title"> <span class="icon"> <i class="icon-list"></i> </span>
					<h5>规则</h5>
				</div>
				<div class="widget-content"> 
                    <ol>
						<li>新开板次新，阳包阴，换手率50%，之后连续两个涨停(我乐家居20170703)</li>
						<li>多头，向上趋势，阴(实体小的真假阴，假阳)，不破五日线</li>
						<li>开板首日，涨停开板，维持在6个点以上的涨幅，收盘必须封板</li>
						<li>开板次新，沿5日线往上攻，上方无套牢盘，无锁仓主力(弘信电子20170703)</li>
						<li>高位震荡，缩量十字，第二日站上均线(科泰电源20170703)</li>
						<li>暴跌底部企稳，第一波涨幅后跌破各均线(普路通20170703，思创医惠20170703，全志科技20170629)</li>
						<li>高位震荡，量能缩小，回踩均线后逐步企稳，并超过各种均线</li>
						<li>向上趋势，均线粘合，放量突破所有均线，并开始多头发散</li>
						<li>强势股，高位缩量整理企稳，并回踩十日线</li>
						<li>多头，五日内回踩五日线，并站上五日线</li>
						<li>多头，五日线位于十日线以下，并向上穿过十日线，开始发散</li>
						<li>多头，五日线无线接近十日线，并同时向上延伸(平安银行20170711，煌上煌20170711)</li>
					</ol> 
					
					<ol>
						<li>底部埋伏：单日跌幅5%以上，五日线最低，最近五日以上每天涨跌幅控制在3%以内，最好在同一水平线上波动，单日10点前的量超过前一日一半以上(当五日线将上穿十日线之时为买入时机)</li>
						<li>机构跟随：多头，当日龙虎机构占50%以上，创新高</li>
						<li>十日线支撑：多头，最近十日累积涨幅20%以上，缩量回踩十日线</li>
						<li>五日线突破：多头，近五日连续上涨，站上五日线，并且上引线能覆盖前几日跌幅</li>
						<li>双突破回调：次多头(十日在上)，某日超3%的阳线刺破五日和十日线，次日回调，第三日介入</li>
						<li>均线粘合支撑：多头，五日、十日无线接近，趋势向上，逢低介入</li>
						<li>阳包阴</li>
						<li>首跌停：龙头，连续上涨，某日跌停，跌停处买入</li>
						<li>首阴</li>
					</ol> 
					<ol>
						<li>多头，近3个月高点，3个点以上的阳线，次日真阴假阳(跌幅2%以内)，量能缩小至少1/4，如果最高点高过前一日，次日高点如果超过前一日高点，则第三日介入，次日高点若低于前一日，则第四日介入</li>
					</ol>
				</div>
			</div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>股东人数</h5>
			<a href="#springUrl('/holder-num/list')" class="label label-info" style="line-height:20px;">更多</a>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
				  <th>股票</th>
				  <th>人数</th>
                  <th>变化</th>
                  <th>截止时间</th>
				  <th>更新时间</th>
                </tr>
              </thead>
              <tbody>
				#foreach($hn in ${hnList})
                <tr>
				  <td>$!{companyTool.getStockName($!{hn.symbol})}</td>
				  <td>$!{hn.totality}</td>
				  <td>$!{hn.chgRate}</td>
				  <td>$!{hn.endDate}</td>
				  <td>$!{date.format("yyyy-MM-dd",$!{hn.gmtCreate})}</td>
                </tr>
				#end
              </tbody>
             </table>
			</div>
          </div>
      </div>
	  <div class="span6">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>帮派持股</h5>
			<a href="#springUrl('/shareholder/clique')" class="label label-info" style="line-height:20px;">更多</a>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
				  <th>姓名</th>
				  <th>股票</th>
				  <th>持股时间</th>
				  <th>帮派</th>				  
                </tr>
              </thead>
              <tbody>
				#foreach($ssh in ${sshList})
                <tr>
				  <td>$!{ssh.holderName}</td>
				  <td>$!{companyTool.getStockName($!{ssh.symbol})}</td>
				  <td>$!{ssh.endDate}</td>
				  <td>$!{longHuTool.getClique($!{ssh.cliqueId})}</td>
                </tr>
				#end
              </tbody>
             </table>
			</div>
          </div>
      </div>
    </div><!-- end row-fluid -->
  </div><!-- end container-fluid-->
</div><!-- end content-->