<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#">股票</a> <a href="#" class="current">托压单</a> </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>托压单列表</h5>
			<a class="label label-info" style="line-height:20px;"></a>
          </div>
          <div class="widget-content">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
				  <th style="width:5%;">序号</th>
                  <th>股票</th>
				  <th>名称</th>
                  <th>压</th>
				  <th>托</th>
                </tr>
              </thead>
              <tbody>
				#foreach($statis in ${list})
                <tr>
				  <td>$!{velocityCount}</td>
                  <td>$!{statis.symbol}</td>
                  <td>$!{statis.stockName}</td>
				  <td>$!{statis.bigSell}</td>
				  <td>$!{statis.bigBuy}</td>
                </tr>
				#end
              </tbody>
             </table>
			 <div id="page_nav"></div>
			</div>
          </div>
        </div>
    </div>
  </div>
</div>
<script src="#resources('layer/layer.js')"></script>
<script src="#resources('js/pagination.js')"></script>
<script type="text/javascript">
	function gotoPage(pageNo){
		$("#curPage").val(pageNo);
		$("#searchForm").submit();
	}
	$('#page_nav').html(new Pagination($!{page.curPage},$!{page.totalPages}, gotoPage).getHtml());
</script>