<link rel="stylesheet" href="#resources('css/datepicker.css')" />
<div id="content">
	<div id="content-header">
		<div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#">股票</a> <a href="#" class="current">帮派成员</a> </div>
		<h1>$!{companyTool.getStockName($!{symbol})}</h1>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#tab1">流通股东</a></li>
							<li class=""><a data-toggle="tab" href="#tab2">十大股东</a></li>
						</ul>
					</div>
					<div class="widget-content tab-content">
						<div class="widget-box">
                          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                            <h5>流通股东</h5>
							<select id="date-selector" style="margin:auto;">
								#foreach($endDate in $endDateList)
								<option value="$!endDate" #if($curDate == $endDate)selected #end>$!endDate</option>
								#end
                            </select>
							
                          </div>
                          <div class="widget-content nopadding">
                            <table class="table table-bordered table-striped">
                              <thead>
                                <tr>
                				  <th>股东</th>
								  <th>持股数</th>
            					  <th>持股比例</th>
            					  <th>变化</th>
                				  <th>持股时间</th>			  
                                </tr>
                              </thead>
                              <tbody>
                				#foreach($sshExt in ${sshExtList})
                                <tr>
                				  <td>
            						<a href="#springUrl('/shareholder/detail')?holderId=$!{sshExt.shareholder}">
            							$!{sshExt.holderName}
            						</a>
            						<span class="label label-important">$!{longHuTool.getClique($!{sshExt.cliqueId})}</span>
            					  </td>
								  <td>$!{number.format("##0.00",$!{sshExt.holdCount})}</td>
            					  <td>$!{sshExt.holdFloatRate}%</td>
            					  <td>
                					#if($!{sshExt.chgCount})
                						#if($!{sshExt.chgCount}==0)
                							不变
                						#else
                							#if($!{sshExt.chgCount} > 0)
                								<i class="icon-arrow-up"></i>
                								<font style="color:red">
                									$!{sshExt.chgCount}
                                                </font>
                							#else
                								<i class="icon-arrow-down"></i>
                								<font style="color:green">
                									$!{sshExt.chgCount}
                                                </font>
                							#end
                						#end
                					#else
                						新进
                					#end
                				  </td>
                				  <td>$!{sshExt.endDate}</td>
                                </tr>
                				#end
                              </tbody>
                             </table>
                			</div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
#macro(showAmt $amt)
	#set($amtArr = ${amt.split(",")})
	<td style="color:red">$!amtArr[0]</td>
	<td style="color:green">$!amtArr[1]</td>
	<td>$!amtArr[2]</td>
#end
<script src="#resources('js/bootstrap-datepicker.js')"></script> 
<script type="text/javascript">
	$(function(){
		$("#date-selector").change(function(){
			var endDate = $(this).val();
			window.location.href="#springUrl('/shareholder/stock')?symbol=$!{symbol}&end_date="+endDate;
		});
	});
</script>
