<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#">股票</a> <a href="#" class="current">股东人数变更</a> </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>股东人数变更</h5>
			<a class="label label-info" style="line-height:20px;"></a>
          </div>
		  <div class="widget-title">
            <ul class="nav nav-tabs">
              <li class="#if($start==$!{dateRange[0][0]}&&$end==$!{dateRange[0][1]})active#end"><a class="search-by-range" start="$!{dateRange[0][0]}" end="$!{dateRange[0][1]}" href="javascript:;">$!{dateRange[0][0]}至$!{dateRange[0][1]}</a></li>
              <li class="#if($start==$!{dateRange[1][0]}&&$end==$!{dateRange[1][1]})active#end"><a class="search-by-range" start="$!{dateRange[1][0]}" end="$!{dateRange[1][1]}" href="javascript:;">$!{dateRange[1][0]}至$!{dateRange[1][1]}</a></li>
			  <li class="#if($start==$!{dateRange[2][0]}&&$end==$!{dateRange[2][1]})active#end"><a class="search-by-range" start="$!{dateRange[2][0]}" end="$!{dateRange[2][1]}" href="javascript:;">$!{dateRange[2][0]}至$!{dateRange[2][1]}</a></li>
            </ul>
          </div>
          <div class="widget-content">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
				  <th style="width:5%;">序号</th>
                  <th>股票</th>
				  <th>人数</th>
                  <th>变化</th>
                  <th>截止时间</th>
				  <th>更新时间</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
				#foreach($hn in ${page.records})
                <tr>
				  <td>$!{velocityCount}</td>
				  <td>
					<a href="#springUrl('/stock')?symbol=$!{hn.symbol}" target="_blank">$!{companyTool.getStockName($!{hn.symbol})}</a>
				  </td>
				  <td>$!{hn.totality}</td>
				  <td style="color:#if($!{hn.chgRate}>0)red#elseif($!{hn.chgRate}<0)green#end">$!{hn.chgRate}%</td>
				  <td>$!{hn.endDate}</td>
				  <td>$!{date.format("yyyy-MM-dd",$!{hn.gmtCreate})}</td>
				  <td><a href="#springUrl('/stock')?symbol=$!{hn.symbol}" target="_blank">查看详情</a></td>
                </tr>
				#end
              </tbody>
             </table>
			 <div id="page_nav"></div>
			</div>
          </div>
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function(){
	$(".search-by-range").click(function(){
		var start = $(this).attr("start");
		var end = $(this).attr("end");
		window.location.href="#springUrl('/holder-num/list')?start="+start+"&end="+end;
	});
})
</script>
<script src="#resources('js/pagination.js')"></script>
<script type="text/javascript">
	function gotoPage(pageNo){
		window.location.href="#springUrl('/holder-num/list')?start=$!{start}&end=$!{end}&curPage="+pageNo;
	}
	$('#page_nav').html(new Pagination($!{page.curPage},$!{page.totalPages}, gotoPage).getHtml());
</script>