<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#">股票</a> <a href="#" class="current">大单成交</a> </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>大单成交列表</h5>
			<a class="label label-info" style="line-height:20px;"></a>
          </div>
          <div class="widget-content">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
				  <th style="width:5%;">序号</th>
                  <th>股票</th>
				  <th>名称</th>
                  <th>卖</th>
				  <th>买</th>
				  <th>平</th>
				  <th>更新时间</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
				#foreach($statis in ${list})
                <tr>
				  <td>$!{velocityCount}</td>
                  <td>$!{statis.symbol}</td>
                  <td>$!{companyTool.getNameBySymbol($!{statis.symbol})}</td>
				  <td>$!{statis.sellTotal}</td>
				  <td>$!{statis.buyTotal}</td>
				  <td>$!{statis.equalTotal}</td>
				  <td>
					$!{date.format("HH:mm:ss",$!{statis.gmtUpdate})}</td>
                  <td><a class="zlcm" s="$!{statis.symbol}" href="javascript:;">查看详情</a></td>
                </tr>
				#end
              </tbody>
             </table>
			 <div id="page_nav"></div>
			</div>
          </div>
        </div>
    </div>
  </div>
</div>
<script src="#resources('layer/layer.js')"></script>
<script type="text/javascript">
	var url = "http://vip.stock.finance.sina.com.cn/quotes_service/view/cn_bill.php?symbol=";
	$(function(){
		$(".zlcm").click(function(){
			var symbol = $(this).attr("s");
			window.open(url+symbol);
		});
	})
</script>
