<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#">龙虎榜</a> <a href="#" class="current">${longHu.stockName}</a> </div>
	<h1>
		${longHu.stockName}
        <select class="span2 date-list">
			#foreach($tDate in $dateList)
			<option value="$tDate">$tDate</option>
			#end
		</select>
	</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span8">
		#if($yrTypeList)
			#showDetail(${longHu.yrAmt} $yrTypeList $yrBuyList $yrSellList)
		#end
		#if($erTypeList)
			#showDetail(${longHu.erAmt} $erTypeList $erBuyList $erSellList)
		#end
		#if($srTypeList)
			#showDetail(${longHu.srAmt} $srTypeList $srBuyList $srSellList)
		#end
      </div>
    </div>
  </div>
</div>
#macro(showDetail $amt $typeList $buyList $sellList)
<div class="widget-box">
  #foreach($lhType in $typeList)
  <div class="widget-title">
    <h5>上榜理由$!{velocityCount}：$lhType</h5>
  </div>
  #end
  #set($amtArr = $amt.split(","))
  <div class="widget-title"> 
	<span class="label label-important">买入总计：$amtArr[0]</span>
	<h5>买入营业部</h5>
  </div>
  <div class="widget-content nopadding">
    <table class="table table-bordered">
      <thead>
        <tr>
		  <th>编号</th>	
          <th>营业部</th>
          <th>买入</th>
		  <th>卖出</th>
		  <th>帮派</th>
		  <th>操作</th>
        </tr>
      </thead>
      <tbody>
		#foreach($buyDetail in ${buyList})
        <tr>
          <td>$!{velocityCount}</td>
          <td>
			<a class="sec-dept" href="javascript:;" code="${buyDetail.code}">$!{buyDetail.deptAddr}</a>
			#if(${buyDetail.deptType})
			<span class="label label-info">${longHuTool.getDeptType(${buyDetail.deptType})}</span>
			#end
		  </td>
		  <td style="color:red">$!{buyDetail.buyAmt}</td>
		  <td style="color:green">$!{buyDetail.sellAmt}</td>
		  <td>$!{longHuTool.getClique($!{buyDetail.cliqueId})}</td>
		  <td>
			#if(${longHu.operateClique}&&!$!{buyDetail.cliqueId})
				加入帮派
			#end
		  </td>
        </tr>
        #end
      </tbody>
    </table>
  </div>
  #if(${sellList.size()}>0)
      <div class="widget-title">
    	<span class="label label-success">卖出总计：$amtArr[1]</span>
        <h5>卖出营业部</h5>
      </div>
      <div class="widget-content nopadding">
        <table class="table table-bordered">
          <thead>
            <tr>
    		  <th>编号</th>	
              <th>营业部</th>
    		  <th>卖出</th>
              <th>买入</th>
    		  <th>帮派</th>
			  <th>操作</th>
            </tr>
          </thead>
          <tbody>
    		#foreach($sellDetail in ${sellList})
            <tr>
              <td>$!{velocityCount}</td>
    		  <td>
    			<a class="sec-dept" href="javascript:;" code="${sellDetail.code}">$!{sellDetail.deptAddr}</a>
    			#if(${sellDetail.deptType})
    			<span class="label label-info">${longHuTool.getDeptType(${sellDetail.deptType})}</span>
    			#end
    		  </td>
    		  <td style="color:green">$!{sellDetail.sellAmt}</td>
    		  <td style="color:red">$!{sellDetail.buyAmt}</td>
    		  <td>$!{longHuTool.getClique($!{sellDetail.cliqueId})}</td>
			  <td>
				#if(${longHu.operateClique}&&!$!{sellDetail.cliqueId})
					加入帮派
				#end
			  </td>
            </tr>
            #end
          </tbody>
        </table>
      </div>
  #end
</div>
#end
<script src="#resources('layer/layer.js')"></script>
<script type="text/javascript">
	$(function(){
		$(".sec-dept").click(function(){
			var deptCode = $(this).attr("code");
			window.open("#springUrl('/longhu/dept')?deptCode="+deptCode);
		});
		$(".date-list").val('${longHu.tradeDate}');
		$(".date-list").change(function(){
			var tradeDate = $(this).val();
			window.location.href="#springUrl('/longhu/detail')?symbol=$!{longHu.symbol}&tradeDate="+tradeDate;
		});
    })
</script>
