<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#springUrl('/')" title="回到首页" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#springUrl('/longhu/')">龙虎榜</a> <a href="#" class="current">${longHu.stockName}</a> </div>
	<h1>
		<a href="#springUrl('/stock')?symbol=${longHu.symbol}" target="_blank">${longHu.stockName}</a>
        <select class="span2 date-list">
			#foreach($tDate in $dateList)
			<option value="$tDate">$tDate</option>
			#end
		</select>
	</h1>
  </div>
  <div class="container-fluid">
	<div class="kline"></div>
    <div class="row-fluid">
      <div class="span8">
		#if($yrTypeList)
			#showDetail(${longHu.yrAmt} $yrTypeList $yrBuyList $yrSellList)
		#end
		#if($erTypeList)
			#showDetail(${longHu.erAmt} $erTypeList $erBuyList $erSellList)
		#end
		#if($srTypeList)
			#showDetail(${longHu.srAmt} $srTypeList $srBuyList $srSellList)
		#end
      </div>
	  
    </div>
    <div class="row-fluid">
		<div class="span12">
    		<div class="widget-box">
    			<div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                  <h5>持仓分析</h5>
                </div>
    			<div class="widget-content nopadding">
                  <form id="searchForm" class="form-horizontal">
    				<input type="hidden" name="symbol" value="${longHu.symbol}" />
                    <div class="control-group">
                      <label class="control-label">请选择起止时间 :</label>
                      <div class="controls">
                        <select class="span4" name="startDate">
                			#foreach($tDate in $dateList)
                			<option value="$tDate">$tDate</option>
                			#end
                		</select>
            			至
            			<select class="span4" name="endDate">
                			#foreach($tDate in $dateList)
                			<option value="$tDate">$tDate</option>
                			#end
                		</select>
    					<button type="button" class="btn btn-success">分析</button>
                      </div>
					  
                    </div>
                  </form>
                </div>
				<div id="analyzeDiv" class="widget-content nopadding">
				</div>
            </div>
		</div>
	</div>
	<script type="text/javascript">
		$(function(){
			$(".btn-success").click(function(){
				var params = $("#searchForm").serialize();
				$("#analyzeDiv").load("#springUrl('/longhu/analyze')?"+params);
			});
		})
    </script>
  </div>
</div>

#macro(showDetail $amt $typeList $buyList $sellList)
<div class="widget-box">
  
  <div class="widget-title">
	<span class="label label-important"><a class="refresh-longhu" lh="$!{longHu.id}" href="javascript:;">刷新榜单</a></span>
    <h5>上榜理由</h5>
  </div>
  <div class="widget-title" style="height:auto;padding:8px 0 8px 25px;">
	<ol style="margin:auto;">
	#foreach($lhType in $typeList)
		<li>$lhType</li>
	#end
	</ol>
  </div>
  #set($amtArr = $amt.split(","))
  <div class="widget-title"> 
	<span class="label label-important">买入总计：$amtArr[0]</span>
	<h5>买入营业部</h5>
  </div>
  <div class="widget-content nopadding">
    <table class="table table-bordered">
      <thead>
        <tr>
		  <th>编号</th>	
          <th>营业部</th>
          <th>买入</th>
		  <th>卖出</th>
		  <th>帮派</th>
        </tr>
      </thead>
      <tbody>
		#foreach($buyDetail in ${buyList})
        <tr>
          <td>$!{velocityCount}</td>
          <td>
			<a class="sec-dept" href="javascript:;" code="${buyDetail.code}">$!{buyDetail.deptAddr}</a>
			#if(${buyDetail.deptType})
			<span class="label label-info">${longHuTool.getDeptType(${buyDetail.deptType})}</span>
			#end
			<span class="badge badge-success">$!{secDeptTool.getSeat(${buyDetail.secDeptCode})}</span>
			#if(${buyDetail.activeDept} ==1)
			<span class="badge badge-success">活跃</span>
			#end
		  </td>
		  <td style="color:red">$!{buyDetail.buyAmt}</td>
		  <td style="color:green">$!{buyDetail.sellAmt}</td>
		  <td>$!{longHuTool.getClique($!{buyDetail.cliqueId})}</td>
        </tr>
        #end
      </tbody>
    </table>
  </div>
  #if(${sellList.size()}>0)
      <div class="widget-title">
    	<span class="label label-success">卖出总计：$amtArr[1]</span>
        <h5>卖出营业部</h5>
      </div>
      <div class="widget-content nopadding">
        <table class="table table-bordered">
          <thead>
            <tr>
    		  <th>编号</th>	
              <th>营业部</th>
    		  <th>卖出</th>
              <th>买入</th>
    		  <th>帮派</th>
            </tr>
          </thead>
          <tbody>
    		#foreach($sellDetail in ${sellList})
            <tr>
              <td>$!{velocityCount}</td>
    		  <td>
    			<a class="sec-dept" href="javascript:;" code="${sellDetail.code}">$!{sellDetail.deptAddr}</a>
    			#if(${sellDetail.deptType})
    			<span class="label label-info">${longHuTool.getDeptType(${sellDetail.deptType})}</span>
				#end
				<span class="badge badge-success">$!{secDeptTool.getSeat(${sellDetail.secDeptCode})}</span>
    		  </td>
    		  <td style="color:green">$!{sellDetail.sellAmt}</td>
    		  <td style="color:red">$!{sellDetail.buyAmt}</td>
    		  <td>$!{longHuTool.getClique($!{sellDetail.cliqueId})}</td>
            </tr>
            #end
          </tbody>
        </table>
      </div>
  #end
</div>
#end
$!{tokenTool.enableAjaxToken()}
<script src="#resources('layer/layer.js')"></script>
<script type="text/javascript">
	$(function(){
		$(".sec-dept").click(function(){
			var deptCode = $(this).attr("code");
			window.open("#springUrl('/longhu/dept')?deptCode="+deptCode);
		});
		$(".date-list").val('${longHu.tradeDate}');
		$(".date-list").change(function(){
			var tradeDate = $(this).val();
			window.location.href="#springUrl('/longhu/detail')?symbol=$!{longHu.symbol}&tradeDate="+tradeDate;
		});
		$(".refresh-longhu").click(function(){
			var lh = $(this).attr("lh");
			var params = {id:lh,$!{tokenTool.tokenKey}:'$!{tokenTool.token}'}
			jQuery.post("#springUrl('/longhu/refresh')",params,function(){
				window.location.reload();
			});
		});
    })
</script>
<script type="text/javascript">
	$(function(){
		$(".kline").load("#springUrl('/kline?symbol=')$!{longHu.symbol}",function(response,status,xhr){
			if(status!="success"){
				alert("K线图加载失败！");
			}
		});
	})
</script>
