<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#">龙虎榜</a> <a href="#" class="current">${longHu.stockName}</a> </div>
	<h1>
		${longHu.stockName}
        <select class="span2">
			<option value="1">2015-10-11</option>
		</select>
	</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span8">
		#if($yrTypeList)
			#showDetail($yrTypeList $yrBuyList $yrSellList)
		#end
		#if($erTypeList)
			#showDetail($erTypeList $erBuyList $erSellList)
		#end
		#if($srTypeList)
			#showDetail($srTypeList $srBuyList $srSellList)
		#end
      </div>
    </div>
  </div>
</div>
#macro(showDetail $typeList $buyList $sellList)
<div class="widget-box">
  #foreach($lhType in $typeList)
  <div class="widget-title">
    <h5>上榜理由$!{velocityCount}：$lhType</h5>
  </div>
  #end
  <div class="widget-title"> 
	<span class="label label-important">买入总计：</span>
	<h5>买入营业部</h5>
  </div>
  <div class="widget-content nopadding">
    <table class="table table-bordered">
      <thead>
        <tr>
		  <th>编号</th>	
          <th>营业部</th>
          <th>买入</th>
		  <th>卖出</th>
		  <th>帮派</th>
        </tr>
      </thead>
      <tbody>
		#foreach($buyDetail in ${buyList})
        <tr>
          <td>$!{velocityCount}</td>
          <td><a class="sec-dept" href="javascript:;" code="${buyDetail.secDeptCode}">$!{buyDetail.secDeptName}</a></td>
		  <td style="color:red">$!{buyDetail.buyAmt}</td>
		  <td style="color:green">$!{buyDetail.sellAmt}</td>
		  <td></td>
        </tr>
        #end
      </tbody>
    </table>
  </div>
  <div class="widget-title">
	<span class="label label-success">卖出总计：</span>
    <h5>卖出营业部</h5>
  </div>
  <div class="widget-content nopadding">
    <table class="table table-bordered">
      <thead>
        <tr>
		  <th>编号</th>	
          <th>营业部</th>
		  <th>卖出</th>
          <th>买入</th>
		  <th>帮派</th>
        </tr>
      </thead>
      <tbody>
		#foreach($sellDetail in ${sellList})
        <tr>
          <td>$!{velocityCount}</td>
          <td><a class="sec-dept" href="javascript:;" code="${sellDetail.secDeptCode}">$!{sellDetail.secDeptName}</a></td>
		  <td style="color:green">$!{sellDetail.sellAmt}</td>
		  <td style="color:red">$!{sellDetail.buyAmt}</td>
		  <td></td>
        </tr>
        #end
      </tbody>
    </table>
  </div>		  
</div>
#end
<script src="#resources('layer/layer.js')"></script>
<script type="text/javascript">
	$(function(){
		$(".sec-dept").click(function(){
			var deptCode = $(this).attr("code");
			window.location.href="#springUrl('/longhu/sec-dept')?deptCode="+deptCode;
		});
	})
</script>
