<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#">营业部</a> <a href="#" class="current">编辑</a> </div>
    <h1>${secDept.deptAddr}</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span8">
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
              <h5>编辑</h5>
            </div>
            <div class="widget-content nopadding">
              <form id="dept-form" class="form-horizontal">
				$!{tokenTool.hiddenField}
				<input type="hidden" name="deptId" value="$!{secDept.id}"/>
                <div class="control-group">
                  <label class="control-label">新加帮派:</label>
                  <div class="controls">
                    <select name="cliqueId">
						<option value="">==请选择==</option>
						#foreach($clique in $allCliqueList)
						<option value="$!{clique.id}">$!{clique.name}</option>
						#end
                    </select>
					<select name="cliqueType">
						<option value="1">主营部</option>
						<option value="2">辅营部</option>
                    </select>
                  </div>
                </div>
				#if(${cliqueList.size()}>0)
				<div class="control-group">
                  <label class="control-label">已加帮派:</label>
                  <div class="controls">
					#foreach($clique in $cliqueList)
                    <label style="margin-bottom:0px;">$!{clique.name}</label>
					#end
                  </div>
                </div>	
				#end
                <div class="control-group">
                  <label class="control-label">类型:</label>
                  <div class="controls">
					#foreach($deptType in $deptTypeArr)
					<label style="margin-bottom:0px;">
                      <input type="radio" name="deptType" value="$!{deptType.code}" #if($!{secDept.deptType}==$!{deptType.code})checked #end/>$!{deptType.desc}
					</label>
					#end
                  </div>
                </div>
                <div class="form-actions">
                  <button type="button" class="btn btn-success">保存</button>
                </div>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
	$(function(){
		$(".btn-success").click(function(){
			jQuery.post("#springUrl('/sec-dept/edit')",$("#dept-form").serialize(),function(result){
				if(result.success){
					alert("保存成功");
				}else {
					alert("保存失败");
				}
			});
		});
	});
</script>
