<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#">营业部</a> <a href="#" class="current">编辑</a> </div>
    <h1>${secDept.deptAddr}</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span8">
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
              <h5>编辑</h5>
            </div>
            <div class="widget-content nopadding">
              <form id="dept-form" class="form-horizontal">
				<input type="hidden" id="stock_token" name="$!{tokenTool.tokenKey}" value="$!{tokenTool.token}" />
				<input type="hidden" id="deptId" name="deptId" value="$!{secDept.id}"/>
				<input type="hidden" id="deptCode" name="deptCode" value="$!{secDept.code}"/>
				<div class="control-group">
                  <label class="control-label">类型:</label>
                  <div class="controls">
					<select name="deptType">
						<option value="">==请选择==</option>
						#foreach($deptType in $deptTypeArr)
						<option value="$!{deptType.code}" #if($!{secDept.deptType}==$!{deptType.code})selected #end >$!{deptType.desc}</option>
						#end
                    </select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">新加帮派:</label>
                  <div class="controls">
                    <select name="cliqueId">
						<option value="">==请选择==</option>
						#foreach($clique in ${allCliqueMap.values()})
						<option value="$!{clique.id}">$!{clique.name}</option>
						#end
                    </select>
					<select name="cliqueType">
						<option value="1">主营部</option>
						<option value="2">辅营部</option>
                    </select>
                  </div>
                </div>                
                <div class="form-actions">
                  <button type="button" class="btn btn-success">保存</button>
                </div>
              </form>
            </div>
          </div>
		  <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
              <h5>已入帮派</h5>
            </div>
            <div class="widget-content nopadding">
              <table class="table table-bordered">
                  <thead>
                    <tr>
            		  <th>编号</th>	
                      <th>帮派名</th>
					  <th>类型</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
					#foreach($cliqueDept in $cliqueDeptList)
					<tr>
                      <td>${velocityCount}</td>
                      <td>$!{longHuTool.getClique($!{cliqueDept.cliqueId})}</td>
					  <td>
						<select name="cliqueType" style="width:80px;margin:auto;">
    						<option value="1" #if($!{cliqueDept.deptType}==1)selected #end>主营部</option>
    						<option value="2" #if($!{cliqueDept.deptType}==2)selected #end>辅营部</option>
                        </select>
					  </td>
            		  <td cdId="$!{cliqueDept.id}">
						<a href="javascript:;" class="btn btn-warn btn-mini update-clique">更新</a>&nbsp;
						<a cliqueId="$!{cliqueDept.cliqueId}" cliqueName="$!{longHuTool.getClique($!{cliqueDept.cliqueId})}" href="#delete-clique" data-toggle="modal" class="btn btn-danger btn-mini exit-clique">退帮</a>
					  </td>
                    </tr>
					#end
				  </tbody>
                </table>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="modal hide" id="delete-clique" aria-hidden="true" style="display: none;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>${secDept.deptAddr}</h3>
	</div>
	<div class="modal-body">
		<p id="delete-content" style="font-size:15px;">确定退出</p>
	</div>
	<div class="modal-footer"> 
		<a href="javascript:;" class="btn" data-dismiss="modal">取消</a> 
		<a href="javascript:;" id="delete-submit" cliqueId data-dismiss="modal" class="btn btn-primary">确定</a> 
	</div>
</div>
<script type="text/javascript">
	$(function(){
		$(".btn-success").click(function(){
			jQuery.post("#springUrl('/sec-dept/edit')",$("#dept-form").serialize(),function(result){
				if(result.success){
					alert("保存成功");
				}else {
					alert("保存失败");
				}
			});			
		});
		$(".exit-clique").click(function(){
			$("#delete-content").text("确定退出["+$(this).attr("cliqueName")+"]?");
			$("#delete-submit").attr("cliqueId",$(this).attr("cliqueId"));
		})
		$("#delete-submit").click(function(){
			var param={deptCode:$("#deptCode").val(),cliqueId:$(this).attr("cliqueId"),$!{tokenTool.tokenKey}:$("#stock_token").val()};
			jQuery.post("#springUrl('/sec-dept/exit-clique')",param,function(result){
				window.location.reload();
			});
		});
		$(".update-clique").click(function(){
			
		});
	});
</script>
