<link rel="stylesheet" href="#resources('css/datepicker.css')" />
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#">股票</a> <a href="#" class="current">个人持股</a> </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>个人持股</h5>
          </div>
		  <div class="widget-title">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#tab1">帮派持股</a></li>
              <li class=""><a data-toggle="tab" href="#tab2">牛散持股</a></li>
            </ul>
          </div>
          <div class="widget-content">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
				  <th style="width:5%;">序号</th>
                  <th>姓名</th>
				  <th>帮派</th>
				  <th>操作</th>
                </tr>
              </thead>
              <tbody>
				#foreach($holder in ${holderList})
                <tr holderId="$!{holder.id}">
				  <td>$!{velocityCount}</td>
                  <td><a class="lh_detail" onclick="javascript:;">$!{holder.holderName}</a></td>			  
				  <td>$!{longHuTool.getClique($!{holder.cliqueId})}</td>
                  <td>
					<a class="lh_detail" onclick="javascript:;">持股详情</a>
				  </td>
                </tr>
				#end
              </tbody>
             </table>
			</div>
          </div>
        </div>
    </div>
  </div>
</div>
#macro(showAmt $amt)
	#set($amtArr = ${amt.split(",")})
	<td style="color:red">$!amtArr[0]</td>
	<td style="color:green">$!amtArr[1]</td>
	<td>$!amtArr[2]</td>
#end
<script src="#resources('js/bootstrap-datepicker.js')"></script> 
<script type="text/javascript">
	$(function(){
		$(".lh_detail").click(function(){
			var holderId = $(this).parent().parent().attr("holderId");
			window.location.href="#springUrl('/shareholder/detail')?holderId="+holderId;
		});
	});
</script>
