<link rel="stylesheet" href="#resources('css/datepicker.css')" />
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#">股票</a> <a href="#" class="current">帮派成员</a> </div>
    <h1>${holder.holderName}</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>历史持股</h5>
          </div>
          <div class="widget-content">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
				  <th style="width:5%;">序号</th>
				  <th>代码</th>
                  <th>股票名称</th>
				  <th>持股时间</th>
				  <th>持股量</th>
				  <th>较上期变化</th>
                </tr>
              </thead>
              <tbody>
				#foreach($sshExt in ${sshExtList})
                <tr>
				  <td>$!{velocityCount}</td>
				  <td>$!{sshExt.symbol}</td>
                  <td><a class="lh_detail" onclick="javascript:;">$!{sshExt.stockName}</a></td>			  
				  <td>$!{sshExt.endDate}</td>
                  <td>$!{sshExt.holdCount}</td>
				  <td>
					#if($!{sshExt.chgCount})
						#if($!{sshExt.chgCount}==0)
							不变
						#else
							#if($!{sshExt.chgCount} > 0)
								<i class="icon-arrow-up"></i>
								<font style="color:red">
									$!{sshExt.chgCount}
                                </font>
							#else
								<i class="icon-arrow-down"></i>
								<font style="color:green">
									$!{sshExt.chgCount}
                                </font>
							#end
						#end
					#else
						新进
					#end

				  </td>
                </tr>
				#end
              </tbody>
             </table>
			</div>
          </div>
        </div>
    </div>
  </div>
</div>
#macro(showAmt $amt)
	#set($amtArr = ${amt.split(",")})
	<td style="color:red">$!amtArr[0]</td>
	<td style="color:green">$!amtArr[1]</td>
	<td>$!amtArr[2]</td>
#end
<script src="#resources('js/bootstrap-datepicker.js')"></script> 
<script type="text/javascript">
	$(function(){
		$(".lh_detail").click(function(){
			var symbol = $(this).parent().parent().attr("symbol");
			window.location.href="#springUrl('/longhu/detail')?symbol="+symbol+"&tradeDate=${tradeDate}";
		});
		$('.datepicker').datepicker({format: 'yyyy-mm-dd',
            weekStart: 1,
            autoclose: true,
            todayBtn: 'linked',
            language: 'zh-CN'}).on('changeDate',function(){
				$("#searchForm").submit();
			});
			
		$("#fetchSina").click(function(){
			jQuery.get("#springUrl('/longhu/fetch/sina')");
		});
	});
</script>
