<link rel="stylesheet" href="#resources('css/datepicker.css')" />
<link rel="stylesheet" href="#resources('css/select2.css')" />
<style type="text/css">
	.select2-container{
		width:220px;
	}
</style>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#">营业部</a> <a href="#" class="current">编辑</a> </div>
    <h1>${lb.stockName}</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span8">
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
              <h5>涨停时间：${lb.tradeDate}</h5>
            </div>
            <div class="widget-content nopadding">
				$!{tokenTool.enableAjaxToken()}
              <form id="dept-form" class="form-horizontal">
				<input type="hidden" id="id" name="id" value="$!{lb.id}"/>
				<div class="control-group">
                  <label class="control-label">日期:</label>
                  <div class="controls">
					<div data-date="${tradeDate}" class="input-append date datepicker">
						<input type="text" id="tradeDate" name="tradeDate" value="$!{tradeDate}" data-date-format="yyyy-mm-dd" class="span11" />
						<span class="add-on"><i class="icon-th"></i></span> 
					</div>
                  </div>
                </div>
				<div class="control-group">
                  <label class="control-label">连板天数:</label>
                  <div class="controls">
					<input type="text" name="days" value="${lb.days}"/>
                  </div>
                </div>
				<div class="control-group">
                  <label class="control-label">板块:</label>
                  <div class="controls">
					<select name="plate" id="plate">
						<option value="">--请选择--</option>
						#foreach($lbp in $lbpList)
						<option value="$!{lbp.id}" #if(${lb.plate}==$!{lbp.id})selected #end>$!{lbp.plate}</option>	
						#end
                    </select>
					ELSE
					<input name="plateCustom" type="text"/>
                  </div>
                </div>
				<div class="control-group">
                  <label class="control-label">原因:</label>
                  <div class="controls">
					<input id="reason" type="text" name="reason" value="$!{lb.reason}"/> 不填则和板块一样
                  </div>
                </div>  
				<div class="control-group">
                  <label class="control-label">形态:</label>
                  <div class="controls">
					<input type="text" name="shape" value="$!{lb.shape}"/>
                  </div>
                </div> 
                <div class="form-actions">
                  <button type="button" class="btn btn-success">保存</button>
				  <button type="button" class="btn btn-cancel" onclick="javascript:window.close();">取消</button>
                </div>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<script src="#resources('js/bootstrap-datepicker.js')"></script>
<script src="#resources('js/select2.min.js')"></script>
<script type="text/javascript">
	$(function(){
		$(".btn-success").click(function(){
			jQuery.post("#springUrl('/zt/edit')",$("#dept-form").serialize(),function(result){
				if(result.success){
					alert("保存成功");
				}else {
					alert("保存失败");
				}
			});			
		});
		$("#plate").change(function(){
			$("#reason").val("");
		});
		$('.datepicker').datepicker({format: 'yyyy-mm-dd',
            weekStart: 1,
            autoclose: true,
            todayBtn: 'linked',
            language: 'zh-CN'}).on('changeDate',function(){
			
		});
		$('select').select2();
	});
</script>
