<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gesangwu.spider.biz.dao.sqlmap.BiddingMapper" >
  <resultMap id="BaseResultMap" type="com.gesangwu.spider.biz.dao.model.Bidding" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="symbol" property="symbol" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="vol" property="vol" jdbcType="INTEGER" />
    <result column="sell_surplus" property="sellSurplus" jdbcType="INTEGER" />
    <result column="buy_surplus" property="buySurplus" jdbcType="INTEGER" />
    <result column="trade_time" property="tradeTime" jdbcType="VARCHAR" />
    <result column="deal_amount" property="dealAmount" jdbcType="DOUBLE" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, symbol, price, vol, sell_surplus, buy_surplus, trade_time, deal_amount, gmt_create
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gesangwu.spider.biz.dao.model.BiddingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bidding
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="offset != null and offset > -1" >
      limit ${offset},${rows}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.gesangwu.spider.biz.dao.model.BiddingExample" >
    delete from bidding
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gesangwu.spider.biz.dao.model.Bidding" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bidding (symbol, price, vol, 
      sell_surplus, buy_surplus, trade_time, 
      deal_amount, gmt_create)
    values (#{symbol,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{vol,jdbcType=INTEGER}, 
      #{sellSurplus,jdbcType=INTEGER}, #{buySurplus,jdbcType=INTEGER}, #{tradeTime,jdbcType=VARCHAR}, 
      #{dealAmount,jdbcType=DOUBLE}, #{gmtCreate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gesangwu.spider.biz.dao.model.Bidding" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bidding
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="symbol != null" >
        symbol,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="vol != null" >
        vol,
      </if>
      <if test="sellSurplus != null" >
        sell_surplus,
      </if>
      <if test="buySurplus != null" >
        buy_surplus,
      </if>
      <if test="tradeTime != null" >
        trade_time,
      </if>
      <if test="dealAmount != null" >
        deal_amount,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="symbol != null" >
        #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="vol != null" >
        #{vol,jdbcType=INTEGER},
      </if>
      <if test="sellSurplus != null" >
        #{sellSurplus,jdbcType=INTEGER},
      </if>
      <if test="buySurplus != null" >
        #{buySurplus,jdbcType=INTEGER},
      </if>
      <if test="tradeTime != null" >
        #{tradeTime,jdbcType=VARCHAR},
      </if>
      <if test="dealAmount != null" >
        #{dealAmount,jdbcType=DOUBLE},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gesangwu.spider.biz.dao.model.BiddingExample" resultType="java.lang.Integer" >
    select count(*) from bidding
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bidding
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.symbol != null" >
        symbol = #{record.symbol,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.vol != null" >
        vol = #{record.vol,jdbcType=INTEGER},
      </if>
      <if test="record.sellSurplus != null" >
        sell_surplus = #{record.sellSurplus,jdbcType=INTEGER},
      </if>
      <if test="record.buySurplus != null" >
        buy_surplus = #{record.buySurplus,jdbcType=INTEGER},
      </if>
      <if test="record.tradeTime != null" >
        trade_time = #{record.tradeTime,jdbcType=VARCHAR},
      </if>
      <if test="record.dealAmount != null" >
        deal_amount = #{record.dealAmount,jdbcType=DOUBLE},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bidding
    set id = #{record.id,jdbcType=BIGINT},
      symbol = #{record.symbol,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DOUBLE},
      vol = #{record.vol,jdbcType=INTEGER},
      sell_surplus = #{record.sellSurplus,jdbcType=INTEGER},
      buy_surplus = #{record.buySurplus,jdbcType=INTEGER},
      trade_time = #{record.tradeTime,jdbcType=VARCHAR},
      deal_amount = #{record.dealAmount,jdbcType=DOUBLE},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
    insert into bidding (symbol, price, vol, sell_surplus, buy_surplus, 
    	trade_time, deal_amount, gmt_create
      )
    values 
    <foreach collection="list" index="index" item="bd" separator=",">
    (#{bd.symbol,jdbcType=VARCHAR}, #{bd.price,jdbcType=DOUBLE}, #{bd.vol,jdbcType=INTEGER}, 
      #{bd.sellSurplus,jdbcType=INTEGER}, #{bd.buySurplus,jdbcType=INTEGER}, 
      #{bd.tradeTime,jdbcType=VARCHAR}, #{dealAmount,jdbcType=DOUBLE}, 
      #{bd.gmtCreate,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
</mapper>