<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gesangwu.spider.biz.dao.mapper.LargeVolStatisMapper" >
  <resultMap id="BaseResultMap" type="com.gesangwu.spider.biz.dao.model.LargeVolStatis" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="symbol" property="symbol" jdbcType="VARCHAR" />
    <result column="sell_total" property="sellTotal" jdbcType="INTEGER" />
    <result column="buy_total" property="buyTotal" jdbcType="INTEGER" />
    <result column="equal_total" property="equalTotal" jdbcType="INTEGER" />
    <result column="trade_date" property="tradeDate" jdbcType="VARCHAR" />
    <result column="active_market_value" property="activeMarketValue" jdbcType="DOUBLE" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_update" property="gmtUpdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, symbol, sell_total, buy_total, equal_total, trade_date, active_market_value, 
    gmt_create, gmt_update
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gesangwu.spider.biz.dao.model.LargeVolStatisExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from large_vol_statis
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="offset != null and offset > -1" >
      limit ${offset},${rows}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from large_vol_statis
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from large_vol_statis
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.gesangwu.spider.biz.dao.model.LargeVolStatisExample" >
    delete from large_vol_statis
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gesangwu.spider.biz.dao.model.LargeVolStatis" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into large_vol_statis (symbol, sell_total, buy_total, 
      equal_total, trade_date, active_market_value, 
      gmt_create, gmt_update)
    values (#{symbol,jdbcType=VARCHAR}, #{sellTotal,jdbcType=INTEGER}, #{buyTotal,jdbcType=INTEGER}, 
      #{equalTotal,jdbcType=INTEGER}, #{tradeDate,jdbcType=VARCHAR}, #{activeMarketValue,jdbcType=DOUBLE}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtUpdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gesangwu.spider.biz.dao.model.LargeVolStatis" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into large_vol_statis
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="symbol != null" >
        symbol,
      </if>
      <if test="sellTotal != null" >
        sell_total,
      </if>
      <if test="buyTotal != null" >
        buy_total,
      </if>
      <if test="equalTotal != null" >
        equal_total,
      </if>
      <if test="tradeDate != null" >
        trade_date,
      </if>
      <if test="activeMarketValue != null" >
        active_market_value,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtUpdate != null" >
        gmt_update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="symbol != null" >
        #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="sellTotal != null" >
        #{sellTotal,jdbcType=INTEGER},
      </if>
      <if test="buyTotal != null" >
        #{buyTotal,jdbcType=INTEGER},
      </if>
      <if test="equalTotal != null" >
        #{equalTotal,jdbcType=INTEGER},
      </if>
      <if test="tradeDate != null" >
        #{tradeDate,jdbcType=VARCHAR},
      </if>
      <if test="activeMarketValue != null" >
        #{activeMarketValue,jdbcType=DOUBLE},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null" >
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gesangwu.spider.biz.dao.model.LargeVolStatisExample" resultType="java.lang.Integer" >
    select count(*) from large_vol_statis
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update large_vol_statis
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.symbol != null" >
        symbol = #{record.symbol,jdbcType=VARCHAR},
      </if>
      <if test="record.sellTotal != null" >
        sell_total = #{record.sellTotal,jdbcType=INTEGER},
      </if>
      <if test="record.buyTotal != null" >
        buy_total = #{record.buyTotal,jdbcType=INTEGER},
      </if>
      <if test="record.equalTotal != null" >
        equal_total = #{record.equalTotal,jdbcType=INTEGER},
      </if>
      <if test="record.tradeDate != null" >
        trade_date = #{record.tradeDate,jdbcType=VARCHAR},
      </if>
      <if test="record.activeMarketValue != null" >
        active_market_value = #{record.activeMarketValue,jdbcType=DOUBLE},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtUpdate != null" >
        gmt_update = #{record.gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update large_vol_statis
    set id = #{record.id,jdbcType=BIGINT},
      symbol = #{record.symbol,jdbcType=VARCHAR},
      sell_total = #{record.sellTotal,jdbcType=INTEGER},
      buy_total = #{record.buyTotal,jdbcType=INTEGER},
      equal_total = #{record.equalTotal,jdbcType=INTEGER},
      trade_date = #{record.tradeDate,jdbcType=VARCHAR},
      active_market_value = #{record.activeMarketValue,jdbcType=DOUBLE},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_update = #{record.gmtUpdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gesangwu.spider.biz.dao.model.LargeVolStatis" >
    update large_vol_statis
    <set >
      <if test="symbol != null" >
        symbol = #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="sellTotal != null" >
        sell_total = #{sellTotal,jdbcType=INTEGER},
      </if>
      <if test="buyTotal != null" >
        buy_total = #{buyTotal,jdbcType=INTEGER},
      </if>
      <if test="equalTotal != null" >
        equal_total = #{equalTotal,jdbcType=INTEGER},
      </if>
      <if test="tradeDate != null" >
        trade_date = #{tradeDate,jdbcType=VARCHAR},
      </if>
      <if test="activeMarketValue != null" >
        active_market_value = #{activeMarketValue,jdbcType=DOUBLE},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null" >
        gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gesangwu.spider.biz.dao.model.LargeVolStatis" >
    update large_vol_statis
    set symbol = #{symbol,jdbcType=VARCHAR},
      sell_total = #{sellTotal,jdbcType=INTEGER},
      buy_total = #{buyTotal,jdbcType=INTEGER},
      equal_total = #{equalTotal,jdbcType=INTEGER},
      trade_date = #{tradeDate,jdbcType=VARCHAR},
      active_market_value = #{activeMarketValue,jdbcType=DOUBLE},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByTradeDate" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from large_vol_statis
  	where trade_date = 
    <choose>
    	<when test="tradeDate != null and tradeDate != ''">
    		#{tradeDate,jdbcType=VARCHAR}
    	</when>
    	<otherwise>
    		(SELECT trade_date FROM large_vol_statis ORDER BY trade_date DESC LIMIT 1)
    	</otherwise>
    </choose>
    and active_market_value&gt;#{minAmv,jdbcType=DOUBLE} and active_market_value&lt;=#{maxAmv,jdbcType=DOUBLE}
    order by gmt_update desc
  </select>
</mapper>