<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gesangwu.spider.biz.dao.mapper.SecDeptMapper">
  <resultMap id="BaseResultMap" type="com.gesangwu.spider.biz.dao.model.SecDept">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dept_addr" jdbcType="VARCHAR" property="deptAddr" />
    <result column="dept_addr_short" jdbcType="VARCHAR" property="deptAddrShort" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="dept_type" jdbcType="INTEGER" property="deptType" />
    <result column="active_dept" jdbcType="INTEGER" property="activeDept" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, dept_addr, dept_addr_short, code, province, dept_type, active_dept, gmt_create, 
    gmt_update
  </sql>
  <select id="selectByExample" parameterType="com.gesangwu.spider.biz.dao.model.SecDeptExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sec_dept
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="offset != null and offset &gt; -1">
      limit ${offset},${rows}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sec_dept
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sec_dept
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.gesangwu.spider.biz.dao.model.SecDeptExample">
    delete from sec_dept
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gesangwu.spider.biz.dao.model.SecDept">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sec_dept (dept_addr, dept_addr_short, code, 
      province, dept_type, active_dept, 
      gmt_create, gmt_update)
    values (#{deptAddr,jdbcType=VARCHAR}, #{deptAddrShort,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{deptType,jdbcType=INTEGER}, #{activeDept,jdbcType=INTEGER}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtUpdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gesangwu.spider.biz.dao.model.SecDept">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sec_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deptAddr != null">
        dept_addr,
      </if>
      <if test="deptAddrShort != null">
        dept_addr_short,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="deptType != null">
        dept_type,
      </if>
      <if test="activeDept != null">
        active_dept,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtUpdate != null">
        gmt_update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deptAddr != null">
        #{deptAddr,jdbcType=VARCHAR},
      </if>
      <if test="deptAddrShort != null">
        #{deptAddrShort,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="deptType != null">
        #{deptType,jdbcType=INTEGER},
      </if>
      <if test="activeDept != null">
        #{activeDept,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gesangwu.spider.biz.dao.model.SecDeptExample" resultType="java.lang.Integer">
    select count(*) from sec_dept
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sec_dept
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.deptAddr != null">
        dept_addr = #{record.deptAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.deptAddrShort != null">
        dept_addr_short = #{record.deptAddrShort,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.deptType != null">
        dept_type = #{record.deptType,jdbcType=INTEGER},
      </if>
      <if test="record.activeDept != null">
        active_dept = #{record.activeDept,jdbcType=INTEGER},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtUpdate != null">
        gmt_update = #{record.gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sec_dept
    set id = #{record.id,jdbcType=BIGINT},
      dept_addr = #{record.deptAddr,jdbcType=VARCHAR},
      dept_addr_short = #{record.deptAddrShort,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      dept_type = #{record.deptType,jdbcType=INTEGER},
      active_dept = #{record.activeDept,jdbcType=INTEGER},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_update = #{record.gmtUpdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gesangwu.spider.biz.dao.model.SecDept">
    update sec_dept
    <set>
      <if test="deptAddr != null">
        dept_addr = #{deptAddr,jdbcType=VARCHAR},
      </if>
      <if test="deptAddrShort != null">
        dept_addr_short = #{deptAddrShort,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="deptType != null">
        dept_type = #{deptType,jdbcType=INTEGER},
      </if>
      <if test="activeDept != null">
        active_dept = #{activeDept,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gesangwu.spider.biz.dao.model.SecDept">
    update sec_dept
    set dept_addr = #{deptAddr,jdbcType=VARCHAR},
      dept_addr_short = #{deptAddrShort,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      dept_type = #{deptType,jdbcType=INTEGER},
      active_dept = #{activeDept,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sec_dept (dept_addr, dept_addr_short, code, 
      province, active_dept, gmt_create, gmt_update
      )
    values
    <foreach collection="list" index="index" item="secDept" separator=",">
     (#{secDept.deptAddr,jdbcType=VARCHAR}, #{secDept.deptAddrShort,jdbcType=VARCHAR}, #{secDept.code,jdbcType=VARCHAR}, 
      #{secDept.province,jdbcType=VARCHAR}, #{secDept.deptType,jdbcType=INTEGER}, #{secDept.activeDept,jdbcType=INTEGER}, 
      #{secDept.gmtCreate,jdbcType=TIMESTAMP}, #{secDept.gmtUpdate,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  <update id="clearActiveDept">
	UPDATE sec_dept SET active_dept=NULL WHERE active_dept IS NOT NULL;
  </update>
  <update id="updateActiveDept" parameterType="java.lang.String">
  	UPDATE sec_dept sd
    SET 
      active_dept = 1
    WHERE EXISTS (SELECT * FROM(
    	SELECT * FROM long_hu_detail WHERE trade_date>#{startDate,jdbcType=VARCHAR} AND sec_dept_code>'80000000' GROUP BY sec_dept_code HAVING COUNT(*)>60
    ) t WHERE t.sec_dept_code = sd.`code`);
  </update>
</mapper>