<div id="content">
    <div id="content-header">
      <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#" class="tip-bottom">资讯</a> <a href="#" class="current">资讯类别</a> </div>
    </div>
    <div class="container-fluid">
      <hr>
      <div class="row-fluid">
        <div class="span6">
          <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
              <h5>添加资讯类别</h5>
            </div>
            <div class="widget-content nopadding">
              <form action="#springUrl('/news/category/edit')" id="news_category_form" method="post" class="form-horizontal" novalidate="novalidate">
				$!{tokenTool.hiddenField}
				<input type="hidden" name="categoryId" value="$!{category.categoryId}" />
                <div class="control-group">
                  <label class="control-label"><span class="star">*</span>资讯类别:</label>
                  <div class="controls">
                    <input id="categoryName" name="categoryName" type="text" value="$!{category.categoryName}"/>
                  </div>
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn btn-success">保存</button>
				  <button type="button" class="btn btn-inverse" onclick="window.location.href='#springUrl('/news/category')'">返回</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<script src="#resources('js/jquery.validate.js')"></script>
<script src="#resources('layer/layer.js')"></script>
<script type="text/javascript">
	$(function(){
		$("#news_category_form").validate({
    		rules:{
				categoryName:{
					required:true,
					remote:{
						type:"get",
                    	url: "#springUrl('/news/category/isNotExist')",
						data:{
                            categoryName:function() {
                                return $("#categoryName").val();
                            }
                        },
						dataType: "json"
					}					
				}
    		},
			messages:{
				categoryName:{
					required:"请输入资讯类别！",
					remote:"该资讯类别已存在!"
				}
			},
    		errorClass: "help-inline",
    		errorElement: "span",
    		highlight:function(element, errorClass, validClass) {
				$(element).parents('.control-group').removeClass('success');
    			$(element).parents('.control-group').addClass('error');
    		},
    		unhighlight: function(element, errorClass, validClass) {
    			$(element).parents('.control-group').removeClass('error');
    			$(element).parents('.control-group').addClass('success');
    		},
			submitHandler:function(form){
				jQuery.post("#springUrl('/news/category/edit')",$(form).serialize(),function(data){
					var msg = data?"更新成功！":"更新失败！";
					var icon = data?6:5;
					layer.alert(msg, {
                      skin: 'layui-layer-molv',
					  icon: icon,
					  closeBtn: 0
                    }, function(){
						window.location.reload();
                    });
				});
			}
    	});
	})
</script>