<div id="content">
    <div id="content-header">
      <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#" class="tip-bottom">系统管理</a> <a href="#" class="current">添加资源权限</a> </div>
    </div>
    <div class="container-fluid">
      <hr>
      <div class="row-fluid">
		#if($groupList.size() == 0)			
		<div class="alert alert-error alert-block"> <a class="close" data-dismiss="alert" href="#">×</a>
          <h4 class="alert-heading">错误!</h4>
			新增资源权限需要资源权限组，请您先新增资源权限组! <a href="#springUrl('/system/resourcePermissionGroup/add')">-->马上新增角色</a>
		</div>
		#end
        <div class="span6">
          <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
              <h5>资源权限</h5>
            </div>
            <div class="widget-content nopadding">
              <form action="#springUrl('/system/resourcePermission/add')" id="role_form" method="post" class="form-horizontal" novalidate="novalidate">
				$!{tokenTool.hiddenField}
                <div class="control-group">
                  <label class="control-label"><span class="star">*</span>资源名:</label>
                  <div class="controls">
                    <input id="resourceName" name="resourceName" type="text" placeholder="Resource name" />
                  </div>
                </div>
				<div class="control-group">
                  <label class="control-label"><span class="star">*</span>资源路径(URI):</label>
                  <div class="controls">
					<textarea id="uris" name="uris" class="span10"></textarea>
					<span class="help-block">各URI之间用英文逗号(,)隔开</span>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label"><span class="star">*</span>资源组:</label>
                  <div class="controls">
                    <select id="groupId" name="groupId">
						<option value="">请选择</option>
						#foreach($group in $groupList)
						<option value="$!{group.groupId}">$!{group.groupName}</option>
						#end
                    </select>
                  </div>
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn btn-success">保存</button>
				  <button type="button" class="btn btn-inverse" onclick="window.location.href='#springUrl('/system/resourcePermission')'">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<script src="#resources('js/jquery.validate.js')"></script>
<script type="text/javascript">
	$(function(){
		$("#role_form").validate({
    		rules:{
				resourceName:{
					required:true,
					remote:{
						type:"get",
                    	url: "#springUrl('/system/resourcePermission/isNotExist')",
						data:{
                            resourceName:function() {
                                return $("#resourceName").val();
                            }
                        },
						dataType: "json"
					}					
				},
				uris:{
					required:true
				},
				groupId:{
					required:true
				}
    		},
			messages:{
				resourceName:{
					required:"请输入资源权限名!",
					remote:"该资源权限已存在!"
				},
				uris:{
					required:"请输入资源路径!"
				},
				groupId: {
					required:"请选择权限组!"
				}
			},
    		errorClass: "help-inline",
    		errorElement: "span",
    		highlight:function(element, errorClass, validClass) {
				$(element).parents('.control-group').removeClass('success');
    			$(element).parents('.control-group').addClass('error');
    		},
    		unhighlight: function(element, errorClass, validClass) {
    			$(element).parents('.control-group').removeClass('error');
    			$(element).parents('.control-group').addClass('success');
    		}
    	});
	})
</script>