<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#">系统管理</a> <a href="#" class="current">用户管理</a> </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>资源权限组</h5>
			<a class="label label-info" style="line-height:20px;" href="#springUrl('/system/resourcePermissionGroup/add')">--新增--</a>
          </div>
          <div class="widget-content">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>编号</th>
                  <th>资源权限组名</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
				#foreach($group in ${groupList})
                <tr>
                  <td>$!{group.groupId}</td>
                  <td>$!{group.groupName}</td>
                  <td class="center">
					<a href="#springUrl('/system/resourcePermissionGroup/edit')?groupId=${group.groupId}">编辑</a>
					<a href="javascript:;" groupId="$!{group.groupId}" groupName="$!{group.groupName}" class="del_group">删除</a>
				  </td>
                </tr>
				#end
              </tbody>
             </table>
			</div>
          </div>
        </div>
    </div>
  </div>
</div>
<script src="#resources('layer/layer.js')"></script>
<script type="text/javascript">
	$(function(){
		$(".del_group").click(function(){
			var groupId = $(this).attr("groupId");
			layer.confirm('确定删除：'+$(this).attr("groupName"), {
					btn: ['确定','取消']
            	}, function(){
              		doDel(groupId);
            	}, function(){
			});
		});
		
		function doDel(groupId){
			var params = {groupId: groupId, $!{tokenTool.getTokenKey()}:"$!{tokenTool.getToken()}"};
			jQuery.post("#springUrl('/system/resourcePermissionGroup/del')",params,function(data){
				var msg = data.success?"删除成功！":"删除失败！"+data.message;
				var icon = data.success?6:5;
				layer.alert(msg, {
                  skin: 'layui-layer-molv',
				  icon: icon,
				  closeBtn: 0
                }, function(){
					window.location.reload();
                });
			});
		}
	})
</script>