<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#">系统管理</a> <a href="#" class="current">用户管理</a> </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>用户列表</h5>
			<span class="label label-info"></span>
          </div>
		  <div class="widget-content nopadding">
			<form id="searchForm" action="#springUrl('/system/user')" method="get" class="form-horizontal">
				<input type="hidden" id="curPage" name="curPage" value="$!{curPage}" />
                <div class="search_option">
					<div>
                        <label>登录名：</label>
                        <span><input id="username" style="width:100%" name="username" type="text" value="$!{username}"/></span>
					</div>
					<div>
						<label>角色：</label>
						<span>
    						<select name="role">
    							<option value="">请选择</option>
    							#foreach($entry in $roleMap.entrySet())
    								<option value="${entry.key}" #if($role == ${entry.key})selected#end>${entry.value}</option>	
    							#end
    						</select>
                        </span>
					</div>
                    <div>
                        <button type="button" class="btn btn-success" onclick="gotoPage(1)">搜索</button>
                        <button type="button" class="btn btn-primary" onclick="location.href='#springUrl("/system/user/add")'">添加用户</button>
                    </div>
                </div>
			</form>
          </div>
          <div class="widget-content">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>编号</th>
                  <th>登录名</th>
                  <th>邮箱</th>
                  <th>电话</th>
                  <th>角色</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
				#foreach($user in ${page.records})
                <tr>
                  <td>$!{user.userId}</td>
                  <td>$!{user.username}</td>
                  <td>$!{user.email}</td>
                  <td class="center">$!{user.phone}</td>
				  <td>$!{roleMap.get($!{user.roleId})}</td>
                  <td class="center">
					<a href="#springUrl('/system/user/edit')?userId=${user.userId}">编辑</a>
				  </td>
                </tr>
				#end
              </tbody>
            </table>
			<div id="page_nav"></div>
    		</div>
          </div>
        </div>
    </div>
  </div>
</div>
<script src="#resources('js/pagination.js')"></script>
<script type="text/javascript">
	function gotoPage(pageNo){
		$("#curPage").val(pageNo);
		$("#searchForm").submit();
	}
	$('#page_nav').html(new Pagination($!{page.curPage},$!{page.totalPages}, gotoPage).getHtml());
</script>